body {
    background-image: url('../src/background-image.jpeg');
    background-size: 50% auto;
}

h1 {
    text-align: center;
    font-size: 2cm;
    font-weight: bold;
    font-family: fantasy;
    padding-top: 2cm;
    padding-left: 2cm;
    padding-right: 2cm;
}

.card-img-top {
    padding:5px;
}

.card-title {
    text-align: center;
    font-family: cursive;
    font-weight: bold;
    min-height: 48px;
    margin-top: 1px;
}

.card-text {
    text-align: left;
    font-family: cursive;
    font-weight: lighter;
}

.shadow-text{
    color: black; /* Цвет  текста */
    font-size: 2cm; /* Размер  текста */
    font-weight: bold;
    padding: 20px 0px;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
  }

.shadow-text:hover {
color: #ffa000; /* Меняем цвет текста */
-webkit-text-shadow: 2px 2px 2px #000;
-moz-text-shadow: 2px 2px 2px #000;
    text-shadow: 2px 2px 2px #000;
}

.shadow-text1{
    color: black; /* Цвет  текста */
    font-size: 2cm; /* Размер  текста */
    font-weight: bold;
    padding: 20px 0px;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
  }

.shadow-text1:hover {
color: #FFB821; /* Меняем цвет текста */
-webkit-text-shadow: 2px 2px 2px #000;
-moz-text-shadow: 2px 2px 2px #000;
    text-shadow: 2px 2px 2px #000;
}

.shadow-text2{
    color: black; /* Цвет  текста */
    font-size: 2cm; /* Размер  текста */
    font-weight: bold;
    padding: 20px 0px;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
  }

.shadow-text2:hover {
color: #F5FF21; /* Меняем цвет текста */
-webkit-text-shadow: 2px 2px 2px #000;
-moz-text-shadow: 2px 2px 2px #000;
    text-shadow: 2px 2px 2px #000;
}

.shadow-text3{
    color: black; /* Цвет  текста */
    font-size: 2cm; /* Размер  текста */
    font-weight: bold;
    padding: 20px 0px;
    line-height: 1;
    -webkit-transition: all 0.5s ease;
            transition: all 0.5s ease;
  }

.shadow-text3:hover {
color: #A8FF21; /* Меняем цвет текста */
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
    text-shadow: 2px 2px 2px #000;
}

.shadow-text-sub{
    text-align: center;
    font-family:cursive;
    font-style: italic;
    font-size: 40px;
    padding-bottom: 5%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

.shadow-text-sub:hover {
color: #ffa000; /* Меняем цвет текста */
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
    text-shadow: 2px 2px 2px #000;
}

.row {
    margin: 20px;
}

.spinner-border {
    align-self: center;
}

h3 {
    text-align: center;
    font-family:cursive;
    font-style: italic;
    font-size: 40px;
    padding-bottom: 5%;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#subheading:hover {
    -webkit-text-shadow: 2px 2px 2px #000;
    -moz-text-shadow: 2px 2px 2px #000;
    text-shadow: 2px 2px 2px #000;
}

.card {
    position: relative;
    bottom: 0;
    right: 0;
    transition: right 0.5s, bottom 0.5s;
}

.card:hover {
    box-shadow: 20px 20px 30px -10px #192824;
    bottom: -10px;
    right: 10px;
}

#tbc {
    position: relative;
    top: 0;
    transition: top 0.5s
}

#tbc:hover {
    top: -5px;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;

    max-height: 0;
    display: block;
    overflow: hidden;
    opacity: 0;
}

.dropdown.show .dropdown-menu {
    box-shadow: 20px 20px 30px -10px #192824;
    max-height: 300px;
    opacity: 1;
}

#dropdownMenuButton {
    background-color: #CACACA;
    color:#000;
    font-family:cursive;
    font-weight: 100;
}

h6 {
    text-align: right;
    font-size: 12px;
    font-family:monospace;
    padding-left: 5px; 
    padding-right: 5px;
    padding-bottom: 0%;
    margin-bottom: 0%;  
}

.dropdown {
    align-self: flex-end;
    text-align: center;
}

#small {
    min-height: 154px;
    padding: 5px;
}

#big {
    min-height: 400px;
    padding: 5px;
}





